dados/*
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/SoftG4/v16/.suo
**/__pycache__/**
__pycache__/extract_csv.cpython-39.pyc
__pycache__/insert_sqlite.cpython-39.pyc
scripts/__pycache__/connect_sql.cpython-39.pyc
scripts/__pycache__/dir_manager.cpython-39.pyc
scripts/__pycache__/extract_csv.cpython-39.pyc
scripts/__pycache__/filter_talk.cpython-39.pyc
scripts/__pycache__/insert_sqlite.cpython-39.pyc
scripts/__pycache__/write_sql.cpython-39.pyc
scripts/pdf_generator.py
scripts/__pycache__/calculating.cpython-39.pyc
scripts/__pycache__/date_genarator.cpython-39.pyc
scripts/__pycache__/insert_sql.cpython-39.pyc
scripts/__pycache__/tkinter_gui.cpython-39.pyc
scripts/tests/calc runs.py
scripts/tests/extract_test.py
scripts/tests/sql_test.py
.vscode/launch.json
__pycache__/GUI.cpython-39.pyc
__pycache__/SoftBackend.cpython-39.pyc
db.sqlite3
scripts/__pycache__/config.cpython-39.pyc
scripts/__pycache__/json_config.cpython-39.pyc
scripts/__pycache__/view.cpython-39.pyc
scripts/tests/info.xml
scripts/tests/list_test.py
scripts/tests/with_test.py
scripts/tkinter_gui/__pycache__/__init__.cpython-39.pyc
scripts/tkinter_gui/__pycache__/functions.cpython-39.pyc
.pylintrc
src/data_csv/ANTONIO PEUGEOT BRANCO.csv
src/data_csv/BENEDITO PEUGEOT BRANCO.csv
src/data_csv/JULIANA PEUGEOT BRANCO.csv
src/data_csv/MARCOS PEUGEOT BRANCO.csv
src/__pycache__/connect_sql.cpython-39.pyc
src/__pycache__/extract_csv.cpython-39.pyc
src/__pycache__/json_config.cpython-39.pyc
load_data/__pycache__/__init__.cpython-39.pyc
load_data/__pycache__/data_analyse.cpython-39.pyc
load_data/__pycache__/load_data.cpython-39.pyc
load_data/__pycache__/test_load_data.cpython-39-pytest-6.2.5.pyc
